workflow/Task_Bot_AI_public.json
{
  "name": "Task Bot AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -180,
        -60
      ],
      "id": "d62ff5ec-f8ae-4641-9735-a6bf8c440e56",
      "name": "Telegram Trigger",
      "webhookId": "a32ced4a-e84f-451c-b941-50076bdbdf11",
      "credentials": {
        "telegramApi": {
          "id": "92MbTf6FhpeNBtcf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Role:\n\"You are Jeni, an AI productivity assistant specializing in Gmail and ToDoist. Your goal is to provide precise, actionable support while managing token limits effectively.\"\n\nKey Guidelines:\n\nEmail Handling (Gmail):\n\nUnread Emails: Always break down requests to avoid token limits.\n\nExample:\n\nUser: \"How many unread emails?\" → \"You have 53 unread emails. Should we focus on a timeframe (e.g., last week) or sender?\"\n\nUser: \"What are the mails?\" → \"To proceed efficiently, specify: unread/all emails, sender, or timeframe (e.g., 'from Miro in the last week').\"\n\nBulk Actions: Process emails in batches (e.g., 10 at a time) and confirm before proceeding.\n\nTask Management (ToDoist):\n\nVerify task details (title/due date) before creation/modification.\n\nDouble-check before deleting/closing tasks.\n\nToken Awareness:\n\nIf a request is too broad: \"This may exceed processing limits. Let’s narrow it down—would you like to focus on [timeframe/sender/keyword]?\"\n\nFor large results: \"I’ll process this in chunks. Here’s the first batch...\"\n\nProactive Suggestions:\n\nAfter actions: \"Would you like to [draft a reply/schedule a follow-up task]?\"\n\nFor vague requests: \"Could you clarify? For example: 'Show unread emails from Miro since Monday.'\"\n\nTone:\n\nFriendly but concise: Like a senior assistant (e.g., \"Email sent! Need anything else?\").\n\nError Prevention: Confirm irreversible actions (e.g., \"Ready to send this draft? [Y/N]\")."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        700,
        -80
      ],
      "id": "717566aa-4a9d-4f33-85dd-7b7dd152b542",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        340
      ],
      "id": "b98e8bd5-caca-45cc-885c-9f130932aa1d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output.substring(0, 4096) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        -80
      ],
      "id": "052b0991-20c4-42dd-885e-6b759bcc00da",
      "name": "Telegram",
      "webhookId": "e080d16c-120c-4bea-92fd-708d9b78eed4",
      "credentials": {
        "telegramApi": {
          "id": "92MbTf6FhpeNBtcf",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -20,
        360
      ],
      "id": "21a1cf9f-ebfc-4f84-b3a1-8a75ab1c79fc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "S62InTMMMYNefYCm",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `this is the subject`, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `this is the body`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        860,
        580
      ],
      "id": "1e1771ea-e21b-4474-a317-ac7facbac333",
      "name": "Send Email",
      "webhookId": "6ece5bed-e23d-4d08-814c-ba2def26a187",
      "credentials": {
        "gmailOAuth2": {
          "id": "Qf4XdvOl2mVMgF1c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "filters": {
          "filter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.1,
      "position": [
        1320,
        140
      ],
      "id": "150b3fc1-5ae5-4387-8571-f17cd319d403",
      "name": "Get many tasks",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "uYiltLhNRq2SvRXZ",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        500,
        -80
      ],
      "id": "b99c057a-25d3-4f7a-8ab4-76b788636677",
      "name": "Merge"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -40,
        -180
      ],
      "id": "c1f11213-c1c0-4d96-b236-2567a0a6f337",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 08 * * MON"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -60,
        60
      ],
      "id": "768c0d85-749e-4d29-8b3c-6e4990c4012d",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "delete",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.1,
      "position": [
        920,
        380
      ],
      "id": "826839c8-2d13-47e1-a780-acfcaffbe24f",
      "name": "delete task",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "uYiltLhNRq2SvRXZ",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "close",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.1,
      "position": [
        1100,
        400
      ],
      "id": "15613839-c829-4d26-8efa-2c2df540f424",
      "name": "close task",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "uYiltLhNRq2SvRXZ",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.1,
      "position": [
        1040,
        620
      ],
      "id": "aa46a655-fdad-48f4-9493-56d0020ffe51",
      "name": "update task",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "uYiltLhNRq2SvRXZ",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "reopen",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.1,
      "position": [
        1280,
        400
      ],
      "id": "589dfe87-c47d-4b8a-b712-0eece16b8d8a",
      "name": "reopen task",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "uYiltLhNRq2SvRXZ",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.1,
      "position": [
        1240,
        580
      ],
      "id": "8e54ebc7-0fe1-434c-8fe6-81fdc44a3686",
      "name": "Get a single task",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "uYiltLhNRq2SvRXZ",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "move",
        "taskId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task_ID', ``, 'string') }}",
        "project": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Project_Name_or_ID', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.1,
      "position": [
        1160,
        220
      ],
      "id": "3361558c-bdf7-47d0-9c29-9d85790e5edd",
      "name": "move a task",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "uYiltLhNRq2SvRXZ",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26deff3f-4602-47c3-823b-8f2c45d332ad",
              "name": "text",
              "value": "=Hey Jeni, provide me with a consolidated start-of-day summary including:\n\nMy ToDo list (prioritized by urgency).\n\nCalendar events scheduled for today.\n\nNotifications (e.g., deadlines, unresolved emails).\n\nSuggestions on how to prioritize my day based on the above.\n\nAlso, research the latest tech and business news from yesterday that have high-impact potential. For each news item:\n\nSummarize the opportunity (be specific).\n\nProvide actionable insights on how we could leverage it.\n\nHighlight risks or competition.\n\nFinally, list important emails (filtered by urgency/unread status) that require my attention today.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        -180
      ],
      "id": "3f658528-e56d-45c9-b0a5-002b37c88f1e",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26deff3f-4602-47c3-823b-8f2c45d332ad",
              "name": "text",
              "value": "=Send personalized follow-ups to each team member with:\n\nA list of their incomplete tasks (with deadlines).\n\nNotes on progress and blockers.\n\nA weekly summary of their contributions.\n\nPull team member details (roles, past performance) from the Team Members Sheet and include:\n\nA performance analysis comparing past/present projects.\n\nTrends (e.g., productivity, missed deadlines).\n\nSuggestions for improvement or recognition",
              "type": "string"
            },
            {
              "id": "106b9b7b-ab49-4fa0-93a4-209e62a1033c",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        60
      ],
      "id": "bab0cd57-0e66-47f2-a824-1537ebfab546",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        220,
        500
      ],
      "id": "72f0b600-678c-4b8b-a40f-f4b64923d8a8",
      "name": "Reply Email",
      "webhookId": "15f25e0f-c555-44ab-a1b5-fc478642ea47",
      "credentials": {
        "gmailOAuth2": {
          "id": "Qf4XdvOl2mVMgF1c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        420,
        380
      ],
      "id": "4f2fb45b-502c-4904-b902-2cbce61cabdc",
      "name": "Get Email",
      "webhookId": "331a1c37-960c-491c-ba21-670a161e8782",
      "credentials": {
        "gmailOAuth2": {
          "id": "Qf4XdvOl2mVMgF1c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        500,
        540
      ],
      "id": "a9030846-e9c2-4219-bffb-0ceb0d63b2d2",
      "name": "Add label Email",
      "webhookId": "9667715b-9bf9-44ce-b38e-f824dbd15d53",
      "credentials": {
        "gmailOAuth2": {
          "id": "Qf4XdvOl2mVMgF1c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        620,
        460
      ],
      "id": "3e6ebf31-1b0c-4537-ad7f-9e45af365879",
      "name": "Draft Email",
      "webhookId": "dbc29558-9e31-4810-bedd-71f18fbc857e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Qf4XdvOl2mVMgF1c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        720,
        580
      ],
      "id": "44ff2345-21bd-4f77-92bf-4a57e6923cf6",
      "name": "unread Email",
      "webhookId": "9bf77849-38f8-48a8-a7e3-d406835c2221",
      "credentials": {
        "gmailOAuth2": {
          "id": "Qf4XdvOl2mVMgF1c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        760,
        400
      ],
      "id": "807b2f03-6db4-46b3-af38-cedfbe94899b",
      "name": "Get label Email",
      "webhookId": "23e5ba41-4858-4cab-9c02-d43451529065",
      "credentials": {
        "gmailOAuth2": {
          "id": "Qf4XdvOl2mVMgF1c",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "project": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Project_Name_or_ID', ``, 'string') }}",
          "mode": "id"
        },
        "labels": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}",
        "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.todoistTool",
      "typeVersion": 2.1,
      "position": [
        1380,
        520
      ],
      "id": "b5cc8fd0-7d9d-4b5b-bb24-34165e5819f3",
      "name": "create task",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "uYiltLhNRq2SvRXZ",
          "name": "Todoist account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "close task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reopen task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "move a task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a single task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Reply Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Draft Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "unread Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get label Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cbf3d95e-2420-4fb2-98a9-af42aa9a4738",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9502651eae2d087490e1db9e90b1348c57f04b993cf33803e844011a57feb23"
  },
  "id": "JCz354atE2zNMeD5",
  "tags": []
}